.button {
    -fx-background-color: #4cafac; /* Green background */
    -fx-text-fill: #0b0404; /* White text */
    -fx-padding: 10px 20px; /* Padding */
    -fx-font-size: 14px; /* Font size */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-font-family: "Roboto Thin";
    -fx-pref-width: 240px; /* Fixed width */
}
.button:hover {
    -fx-background-color: #45a049; /* Darker green on hover */
    -fx-cursor: hand; /* Pointer cursor on hover */
}